<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ProjectPathList" value="C:\MamellongGames\TableGenerater_x64\TestRoot,C:\darongstudio_pi\RainbowTree,C:\DarongStudio\RainbowTree" />
    <add key="ExcelPathList" value="C:\MamellongGames\TableGenerater_x64\TestTable,C:\darongstudio_pi\RainbowTree_Documents\Table,C:\DarongStudio\RainbowTree_Documents\Table" />
  </appSettings>
</configuration>